<?xml version="1.0"?>
<model>
  <name>Tutorial - Seabed</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Paul-Antoine LE TOLGUENEC</name>
    <email>paul-antoine.le_tolguenec@ensta-bretagne.org</email>
  </author>

  <description>
    A nice seabed with a cave.
  </description>

</model>